
/* Exercise 1: Responsive Navigation Bar */
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #c6b4b4;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover{
    color: blue;
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        font-size: 16px;
    }
}

/* Exercise 2: Responsive Student Profile Card */
.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .card-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card .card-content {
    padding: 10px;
}
.card p {
    margin: 0;
    font-size: 24px;
}

.card span {
    color: red;
    font-size: 18px;
}   

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card .card-content {
        text-align: center;
    }
}

/* Responsive Gallery */
/* Desktop: 4 columns */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}


/* Exercise 4: Student Management Dashboard */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Desktop Layout */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #34495e;
    padding: 20px;
}

.sidebar nav{
    display: flex;
    flex-direction: column;
}
.sidebar nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2c3e50;
    border-radius: 5px;
}

.sidebar nav a:hover {
    background-color: #1abc9c;
}

/* Main Content */
.content {
    flex: 1;
    padding: 20px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

td a {
    text-decoration: none;
    margin: 0 5px;
    color: #3498db;
}

/* Mobile View */
@media (max-width: 768px) {

    .sidebar {
        display: none; 
    }

    .container {
        display: block;
    }

    .content {
        width: 100%;
        padding: 10px;
    }

    table {
        font-size: 14px;
    }
}