
/* Exercise 5: Animated Button  */
.animated-button button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  transition : all 0.5s
}

.animated-button button:hover {
  background-color: #28a745;
    transform: scale(1.1);
}
/* Exercise 6: Expanding Card  */
.card{
    height: 200px;
    width: 200px;
    background-color: #007bff;
    margin-top: 20px;
    transition: width 0.5s ease, height 0.5s ease, background-color 0.5s ease;

}

.card:hover{
    width: 250px;
    height: 250px;
    background-color: #28a745;
}

/* Exercise 7: Navigation Hover Effect  */
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    display: inline-block;
}

/* Change color */
.color-change {
    transition: color 0.3s ease;
}

.color-change:hover {
    color: #28a745;
}

/* Increase font size */
.font-size {
    transition: font-size 0.3s ease;
}

.font-size:hover {
    font-size: 22px;
}

/* Underline smoothly */
.underline {
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.underline:hover {
    text-decoration: underline;
}